* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#div_fundo {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: #fff4e4;
    background-size: cover;
    background-position: end;
}

#div_sombra_lado_esquerdo {
    background: rgba(228, 228, 228, 0);
    background: linear-gradient(235deg, rgba(228, 228, 228, 0.4) 100%, rgba(255, 255, 255, 0.3) 100%);
    align-items: center;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    display: flex;
    position: absolute;
    top: 7vw;
    left: 17.5vw;
    height: 70vh;
    max-height: 80vh;
    width: 23.5vw;
}

#div_morango_esquerda_1 {
    display: flex;
    position: absolute;
    max-height: 30vh;
    top: 0vw;
    left: -2vw;
    width: 16vw;
    transform: rotate(295deg);
}

#img_morango_esquerda_1 {
    width: 24vw;
}

#div_morango_esquerda_2 {
    display: flex;
    max-height: 30vh;
    position: absolute;
    top: 7vw;
    left: 4vw;
    width: 16vw;
    transform: rotate(20deg);
}

#img_morango_esquerda_2 {
    width: 24vw;
}

#div_morango_esquerda_3 {
    display: flex;
    max-height: 30vh;
    position: absolute;
    top: 24vw;
    left: 8vw;
    transform: rotate(180deg);
    width: 16vw;
}

#img_morango_esquerda_3 {
    width: 24vw;
}

#div_morango_esquerda_4 {
    display: flex;
    max-height: 30vh;
    position: absolute;
    top: 32.7vw;
    left: -8vw;
    transform: rotate(0deg);
}

#img_morango_esquerda_4 {
    width: 24vw;
}

#div_morango_direita_1 {
    display: flex;
    max-height: 70vh;
    position: absolute;
    top: -3vw;
    left: 72vw;
}

#img_morango_direita_1 {
    width: 24vw;
}

#div_container {
    display: flex;
    flex-direction: row;
    width: 65vw;
    height: 70%;
    background: rgb(253, 1, 14);
    background: linear-gradient(235deg, rgba(253, 1, 14, 0.1) 100%, rgba(161, 161, 161, 1) 100%);
    border-radius: 2vw;
    box-shadow: -1vw 1.4vw 5vw 1vw rgba(0, 0, 0, 0.25);
}

#div_lado_esquerdo {
    padding: 3vw;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: -0.7vw;
}

#p_bem_vindo {
    color: #313056;
    font-size: 2.4vw;
    letter-spacing: 0.5vw;
    margin-left: 0.4vw;
    white-space: nowrap;
    z-index: 2;
}

#p_novo_login {
    z-index: 2;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    font-weight: 600;
}

#button_criar_conta {
    z-index: 2;
    box-shadow: -0.1vw 0.25vw 0.4vw 0.2vw rgba(0, 0, 0, 0.3);
    color: #313056;
    width: 15vw;
    letter-spacing: 0.3vw;
    height: 3vw;
    font-size: 1.5vw;
    border: 0px;
    border-radius: 2vw;
    background-color: rgb(2555, 255, 255, 0.55);
    cursor: pointer;
}

#div_setas_meio {
    display: flex;
    align-items: center;
    position: absolute;
    top: 21vw;
    left: 39.2vw;
    max-height: 10vh;
}

#button_setas {
    z-index: 2;
    background: rgb(228,228,228);
    background: linear-gradient(235deg, rgba(228,228,228,1) 100%, rgba(228,228,228,1) 100%, rgba(228,228,228,1) 100%, rgba(255,255,255,1) 100%);
    align-items: center;
    justify-content: center;
    border-radius: 50vw;
    width: 3.5vw;
    height: 3.5vw;
    transform: rotate(90deg);
    border: 0px;
    cursor: pointer;
}

#img_setas {
    width: 80%;
    margin-top: 0.15vw;
}

#div_lado_direito {
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    white-space: nowrap;
    margin-top: 4vw;
}

#p_faca_seu_login {
    color: #313056;
    font-size: 2.4vw;
    letter-spacing: 0.5vw;
}

#div_input_usuario {
    box-shadow: -0.1vw 0.25vw 0.4vw 0.2vw rgba(0, 0, 0, 0.3);
    height: 3vw;
    display: flex;
    flex-direction: row;
    border-radius: 1vw;
    background: rgb(153,153,153);
    background: linear-gradient(235deg, rgba(153,153,153,1) 0%, rgba(153,153,153,0.35) 0%, rgba(255,255,255,0.1) 100%);
}

#div_foto_usuario {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 100%;
    align-items: center;
    display: flex;
}

#img_usuario {
    width: 1.6vw;
    padding: 1vw;
}

#input_usuario {
    font-size: 1.4vw;
    background-color: rgba(0, 0, 0, 0);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: 0px;
}

#div_input_senha {
    box-shadow: -0.1vw 0.25vw 0.4vw 0.2vw rgba(0, 0, 0, 0.3);
    height: 3vw;
    display: flex;
    flex-direction: row;
    border-radius: 1vw;
    background: rgb(153,153,153);
    background: linear-gradient(235deg, rgba(153,153,153,1) 0%, rgba(153,153,153,0.35) 0%, rgba(255,255,255,0.1) 100%);
}

#div_foto_senha {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    height: 100%;
    align-items: center;
    display: flex;

}

#img_senha {
    width: 1.4vw;
    padding: 1vw;
}

#input_senha {
    font-size: 1.4vw;
    background-color: rgba(0, 0, 0, 0);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: 0px;
}

#div_foto_ocultar {
    align-items: center;
    display: flex;
    position: absolute;
    top: 26.4vw;
    left: 73vw;
    height: 9vh;
    max-height: 9vh;
}

#button_ocultar {
    cursor: pointer;
    max-height: 9vh;
    background-color: transparent;
    border: 0px;
}

#img_ocultar {
    width: 1.7vw;
}

#div_frases {
    margin-top: -3.5vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.7vw;
}

#input_caixa_lembrar_senha {
    width: 0.8vw;
    margin-right: 0.1vw;
}

#p_lembrar_senha {
    color: #313056;
    margin-right: 3vw;
}

#p_esqueceu_senha {
    text-decoration: underline;
    color: #313056;
    margin-left: 3vw;
    cursor: pointer;
}

#button_entrar {
    box-shadow: -0.1vw 0.25vw 0.4vw 0.2vw rgba(0, 0, 0, 0.3);
    margin-top: -1.5vw;
    color: #FFFFFF;
    font-size: 1.5vw;
    border-radius: 2vw;
    background-color: #313056;
    letter-spacing: 0.5vw;
    width: 13vw;
    height: 2.8vw;
    cursor: pointer;
}

#p_conectar_com {
    color: #000000;
    font-size: 0.7VW;
    margin-top: -2.5vw;
    margin-bottom: -2.5vw;
}

#div_botoes_login {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#alerta_erro {
    background: rgb(253, 1, 14);
    background: linear-gradient(235deg, rgba(253, 1, 14, 0.1) 100%, rgba(161, 161, 161, 1) 100%);
    border-radius: 1vw;
    position: absolute;
    top: 0.8vw;
    left: 53.8vw;
    height: 11vh;
    width: 21vw;
    border: 0.25vw solid black;
    color: red;
    align-items: center;
    font-size: 1.4vw;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    display: flex;
}

#alerta_erro span {
    padding: 0.3vw;
}

#alerta_cadastrado {
    background: rgb(253, 1, 14);
    background: linear-gradient(235deg, rgba(253, 1, 14, 0.1) 100%, rgba(161, 161, 161, 1) 100%);
    border-radius: 1vw;
    position: absolute;
    top: 0.8vw;
    left: 46.2vw;
    height: 11vh;
    width: 30vw;
    border: 0.2vw solid rgb(255, 255, 255);
    color: rgb(22, 182, 22);
    align-items: center;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    display: flex;
}

#alerta_cadastrado span {
    padding: 0.3vw;
}

#validacao_login {
    position: absolute;
    color: red;
    align-items: center;
    font-size: 1vw;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    display: flex;
    top: 24.4vw;
    left: 55.3vw;
    width: 20vw;
}

#alerta_cadastrado {
    background: rgb(253, 1, 14);
    background: linear-gradient(235deg, rgba(253, 1, 14, 0.1) 100%, rgba(161, 161, 161, 1) 100%);
    border-radius: 1vw;
    position: absolute;
    top: 0.8vw;
    left: 49.6vw;
    height: 11vh;
    width: 30vw;
    border: 0.2vw solid rgb(255, 255, 255);
    color: rgb(22, 182, 22);
    align-items: center;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    display: flex;
}

#alerta_esqueceu_senha {
    background: rgb(253, 1, 14);
    background: linear-gradient(235deg, rgba(253, 1, 14, 0.1) 100%, rgba(161, 161, 161, 1) 100%);
    border-radius: 1vw;
    position: absolute;
    top: 0.8vw;
    left: 49.6vw;
    height: 11vh;
    width: 30vw;
    border: 0.2vw solid rgb(255, 255, 255);
    color: rgb(40, 80, 214);
    align-items: center;
    font-size: 1.2vw;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    display: flex;
}