html, body {
    font-family: "Jomhuria", serif;
    height: 100%;
    margin: 0;
    background-color: #FBF4E4;
    
}
.fundo{
    height:100%;
    width: 100%;
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18pt;
}
.bar img{
    flex-direction: row;
    height: 4.5vw;
    
    
}
.bar h2{
    margin-top: 18px;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo h2{
    margin-top: 18px;
}
.texto{
    margin-bottom: -1.6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    margin-top: -4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24pt;
}
.container img{
    height: 2vw;
}
.container h4{
    margin: 0px 0; 
    font-weight:lighter ;
    color: rgb(74,231,0);
    color: linear-gradient(235deg, rgba(74,231,0,1) 0%, rgba(39, 175, 69, 1) 100%);    
}

.container h1{
    margin: 10px 0; 
    color: #bb2b45;
    
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(74,231,0);
    background: linear-gradient(235deg, rgba(74,231,0,1) 0%, rgba(39, 175, 69, 1) 100%);
    border-radius: 40px;
    height: 100%;
    width: 40%;
    font-size: 15pt;
}
.input{
    margin-top: 2vw;
    display:flex;
    flex-direction: column;
    width: 68%;
    justify-content: center;
    text-align: left;
}
.input h2 {
    font-size: 24pt;
    margin: 1px 0;     /* Define a margem superior e inferior como 10px e a margem esquerda e direita como 0 */
    font-weight: lighter;
}
input{
    height: 35px;
    border-radius: 10px;
}
button{
    font-size: 18pt;
    margin-top: 1vw;
    margin-bottom: 0.8vw;
    height: 40px;
    width: 25%;
    border-radius: 10px;
    background-color: #DC375E;
    font-family: "Jomhuria", serif;

}
/* .div_mens {
    margin-top: 145px;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 450px;
    color: #617750;
    height: 250px;
    font-weight: bold;
    animation: moveToLeft 1s ease-in-out;
    /* nomeia a animação moveToLeft, quanto tempo vai realizar 
} */

/* @keyframes moveToLeft {
    from {
        margin-right: -64.5%;
        /* define onde a animação COMEÇA 
    }*/

    /*to {
        margin-right: 0%;
        /* define onde a animação TERMINA 
    }
} */

