body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
}


.pagina {
    display: flex;
}


.header_left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1px;
    height: 25%;
    width: 100%;
    font-size: 150%;
}

.marca span {
    font-family: "Jomhuria", serif;
    font-size: 200%;
    font-weight: lighter;
}

.marca img {
    height: auto;
    width: 20%;
}

img {
    height: 25%;
    width: 25%;
}

.container {
    height: 70%;
}

#user {
    margin-bottom: -2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    margin-bottom: 30%;
    margin-top: 10%;
}

#user span {
    font-family: "Jomhuria", serif;
    font-size: 300%;
    margin-top: 2%;
    font-weight: lighter;
}

.menu {
    margin-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
    height: 55%;
    gap: 20px;
}

.menu button {
    text-align: center;
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #6BB87A;
    color: white;
    cursor: pointer;
    width: 85%;
    height: 12%;
    font-size: 110%;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sair button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;;
    color: white;
    cursor: pointer;
    width: 60%;
    height: 30%;
    font-size: 110%;
}


/*inicio da seleção das estufas*/

.minhas_estufas button img {
    width: 30%;
    height: auto;
}

.mural_rigth{
    width: 88%;
    height: 100vh;
}

.id_comp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 30px;
    margin-bottom: -14%;
}

.id_comp h2 {
    font-size: 260%;
    margin-top: -3%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
}


.grafico{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}   



/*inicio da seleção das estufas*/

#estufas {
    margin-left: 12%;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#estufa_omega, #estufa_violet{
    display:none
}

.mural_rigth{
    width: 88%;
    height: 100vh;
}

.mural_right h1 {
    font-size: 500%;
    font-family: "Jomhuria", serif;
    margin-left: 22%;
    font-weight: lighter;
    margin-bottom: -5%;
    margin-top: 0%;
}






.estufa_omega button img {
    width: 35%;
    height: auto;
}

.estufa_omega{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.estufa_omega button {
    width: 55%;
    height: 30%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7AB8CC;
}

.estufa_omega button:hover {
    background-color: #6BB87A;
}

.estufa_omega span{
    font-size: 380%;
    font-family: "Jomhuria", serif;
}



.estufa_violet button img {
    width: 35%;
    height: auto;
}

.estufa_violet{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.estufa_violet button {
    width: 55%;
    height: 30%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7AB8CC;
}

.estufa_violet button:hover {
    background-color: #6BB87A;
}

.estufa_violet span{
    font-size: 380%;
    font-family: "Jomhuria", serif;
}



.voltar{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 15px;
}

.voltar button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 30%;
    font-size: 110%;
}
