body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
}


.pagina {
    display: flex;
}


.header_left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1px;
    height: 25%;
    width: 100%;
    font-size: 150%;
}

.marca span {
    font-family: "Jomhuria", serif;
    font-size: 200%;
    font-weight: lighter;
}

.marca img {
    height: auto;
    width: 20%;
}

img {
    height: 25%;
    width: 25%;
}

.container {
    height: 70%;
}

#user {
    margin-bottom: -2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    margin-bottom: 30%;
    margin-top: 10%;
}

#user span {
    font-family: "Jomhuria", serif;
    font-size: 300%;
    margin-top: 2%;
    font-weight: lighter;
}

.menu {
    margin-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
    height: 55%;
    gap: 20px;
}

.menu button {
    text-align: center;
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #6BB87A;
    color: white;
    cursor: pointer;
    width: 85%;
    height: 12%;
    font-size: 110%;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sair button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;;
    color: white;
    cursor: pointer;
    width: 60%;
    height: 30%;
    font-size: 110%;
}




#contato{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.entre_em_contato{
    display: flex;
    flex-direction: column;
    font-family: "Jomhuria", serif;
    font-size: 40pt;
    margin-left: 15%;
}

.entre_em_contato h1 {
    font-weight: lighter;
    font-size: 200%;
    white-space: nowrap;
    margin-top: -5%;
}

.inp_nome_email{ 
    display: flex;
    flex-direction: row;
    width: 88%;
    height: 20%;
    margin-left: 15%;
    margin-top: -5%;
}

#inp_nome{
    border-radius: 1.5vw;
    font-size: 200%;
    border: 0.1vw solid black;
    width: 260%;
    text-align: center;
    height: 28%;
    margin-right: 5%;
    font-family: "Jomhuria", serif;
    
}

#inp_email{
    text-align: center;
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    margin-left: 5%;
    width: 260%;
    font-size: 200%;
    height: 28%;
    font-family: "Jomhuria", serif;

}

.inp_mens {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 88%;
    height: 40%;
    margin-left: 15%;
    margin-top: -5%;
}

#inp_mens{
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    width: 90%;
    font-size: 200%;
    height: 80%;
    text-align: center;
    font-family: "Jomhuria", serif;
}

.inp_mens button{
    align-self: center;
    border: 0.1vw solid black;
    background-color: #6BB87A;
    width: 20%;
    border-radius: 3vw;
    height: 20%;
    color: white;
    cursor: pointer;
    font-size: 200%;
    font-family: "Jomhuria", serif;
    margin-top: 10%;
}

.inp_mens button:hover {
    background-color: #00739A;
}