body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
}


.pagina {
    display: flex;
}


.header_left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3.5px solid black;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1px;
    height: 25%;
    width: 100%;
    font-size: 150%;
}

.marca span {
    font-family: "Jomhuria", serif;
    font-size: 200%;
    font-weight: lighter;
}

.marca img {
    height: auto;
    width: 20%;
}

img {
    height: 25%;
    width: 25%;
}

.container {
    height: 70%;
}

#user {
    margin-bottom: -2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    margin-bottom: 30%;
    margin-top: 10%;
}

#user span {
    font-family: "Jomhuria", serif;
    font-size: 300%;
    margin-top: 2%;
    font-weight: lighter;
}

.menu {
    margin-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
    height: 55%;
    gap: 20px;
}

.menu button {
    text-align: center;
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #6BB87A;
    color: white;
    cursor: pointer;
    width: 85%;
    height: 12%;
    font-size: 110%;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sair button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;;
    color: white;
    cursor: pointer;
    width: 60%;
    height: 30%;
    font-size: 110%;
}


/*inicio da seleção das estufas*/

.minhas_estufas button img {
    width: 30%;
    height: auto;
}

.mural_rigth{
    width: 88%;
    height: 100vh;
}

.minhas_estufas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.minhas_estufas h1 {
    font-size: 500%;
    font-family: "Jomhuria", serif;
    font-weight: lighter;
    margin-bottom: -5%;
}

.minhas_estufas button {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7AB8CC;
}

.minhas_estufas button:hover {
    background-color: #6BB87A;
}

.minhas_estufas span{
    font-size: 380%;
    font-family: "Jomhuria", serif;
}

.id_estufa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 30px;
    margin-bottom: -14%;
}

.id_estufa h2 {
    font-size: 240%;
    margin-top: -8%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
}


/* TEMPERATURA */


#box_temperatura{
    border-bottom: 2px solid black;
    width: 100%;
    height: 40%;
    display: flex;
    padding-bottom: 5%;
    padding-left: 5%;
}

.estufa1_temperatura{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding-left: 0%;
    height: 100%;
}

#box_info_temp{
    margin-top: 5%;
    width: 10%;
    height: 42%;
    text-align: center;
    border-radius: 50%;
}

#box_info_temp h6 {
    font-size: 320%;
    margin-top: -50%;
    margin-left: -30%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
    white-space: nowrap;
}

#temperatura_atual {
    font-size: 300%;
    margin-top: -56%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
}

#alerta_temp {
    font-size: 230%;
    font-weight: 400;
    position: absolute;
    color: white;
    top: 22%;
    left: 22%;
    height: auto;
}

#parametros_temperatura {
    margin-top: 7%;
    width: 18%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#perigo_maior_temp {
    border-radius: 1vw;
    background-color: black;
    color: white;
    height: 15%;
    font-size: 180%;
    width: 100%;
}

#alerta_maior_temp {
    border-radius: 1vw;
    background-color: #BB2B45;
    width: 100%;
    height: 15%;
    font-size: 180%;
    color: white;
}

#ideal_temp {
    border-radius: 1vw;
    width: 100%;
    height: 15%;
    font-size: 180%;
    background-color: #6BB87A;
}

#alerta_menor_temp {
    border-radius: 1vw;
    width: 100%;
    height: 15%;
    background-color: #BB2B45;
    font-size: 180%;
    color: white;
}

#perigo_menor_temp {
    border-radius: 1vw;
    width: 100%;
    font-size: 180%;
    height: 15%;
    background-color: black;
    color: white;
}


/* UMIDADE */


#box_umidade{
    border-top: 2px solid black;
    width: 100%;
    height: 40%;
    display: flex;
    padding-bottom: 5%;
    padding-left: 5%;
}

.estufa1_umidade{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding-left: 0%;
    height: 100%;
}

#box_info_umi{
    margin-top: 5%;
    width: 10%;
    height: 42%;
    text-align: center;
    border-radius: 50%;
}

#box_info_umi h6 {
    font-size: 320%;
    margin-top: -50%;
    margin-left: -30%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
    white-space: nowrap;
}

#umidade_atual {
    font-size: 300%;
    margin-top: -56%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
}

#alerta_umi {
    font-size: 230%;
    font-weight: 400;
    position: absolute;
    color: white;
    top: 71%;
    left: 22%;
    height: auto;
}

#parametros_umidade {
    margin-top: 7%;
    width: 18%;
    font-weight: lighter;
    font-family: "Jomhuria", serif;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#perigo_maior_umi {
    border-radius: 1vw;
    background-color: black;
    color: white;
    height: 15%;
    font-size: 180%;
    width: 100%;
}

#alerta_maior_umi {
    border-radius: 1vw;
    background-color: #BB2B45;
    width: 100%;
    height: 15%;
    font-size: 180%;
    color: white;
}

#ideal_umi {
    border-radius: 1vw;
    width: 100%;
    height: 15%;
    font-size: 180%;
    background-color: #6BB87A;
}

#alerta_menor_umi {
    border-radius: 1vw;
    width: 100%;
    height: 15%;
    background-color: #BB2B45;
    font-size: 180%;
    color: white;
}

#perigo_menor_umi {
    border-radius: 1vw;
    width: 100%;
    font-size: 180%;
    height: 15%;
    background-color: black;
    color: white;
}




.voltar{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 15px;
}

.voltar button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 30%;
    font-size: 110%;
}


/* ALERTA ERRO DUPLO */


#caixa_erro {
    border: 1.5vw solid white;
    border-radius: 5vw;
    width: 35vw;
    height: 30vw;
    position: absolute;
    top: 7.5vw;
    left: 32.5vw;
    background-color: #BB2B45;
    text-align: center;
}

#titulo_erro {
    font-family: "Jomhuria", serif;
    padding: 5vw;
    color: white;
    font-size: 3vw;
}

#simbolo_erro {
    font-size: 7vw;
}

#mensagem_erro_umidade, #mensagem_erro_temperatura {
    font-family: "Jomhuria", serif;
    color: white;
    font-size: 3vw;
}

#mensagem_erro b {
    font-family: "Jomhuria", serif;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    text-decoration: underline;
}

#botao_erro {
    border: 0.25vw solid white;
    border-radius: 3vw;
    font-family: "Jomhuria", serif;
    width: 15vw;
    height: 3vw;
    background-color: #BB2B45;
    text-align: center;
    color: white;
    font-size: 3vw;
    cursor: pointer;
}

#botao_erro:hover {
    background-color: black;
    border: 0.25 solid #BB2B45;
    color: white;
}

#bola_erro {
    border: 0.25vw solid black;
    border-radius: 50%;
    width: 7.5vw;
    height: 7.5vw;
    position: absolute;
    top: 21.5vw;
    left: 82vw;
    background-color: #BB2B45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensagem_bola_erro {
    color: white;
    font-size: 3.5vw;
    font-family: "Jomhuria", serif;
    font-weight: lighter;
}