*{
    font-family: "jost", serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #faebd7;
    overflow-y: hidden;
    overflow-x: hidden;
}


.pagina {
    display: flex;
}


.header_left {
    height: 100vh;
    width: 15.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3.5px solid black;
}

#mural_right {
    width: 85vw;
    height: 100vh;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1px;
    height: 25%;
    width: 70%;
    font-size: 150%;
}

.marca span {
    font-size: 100%;
    font-weight: 400;
}

.marca img {
    height: auto;
    width: 20%;
}

img {
    height: 25%;
    width: 25%;
}

.container {
    height: 70%;
}

#user {
    margin-bottom: -2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    margin-bottom: 30%;
    margin-top: 10%;
}

#user span {
    font-size: 200%;
    margin-top: 2%;
    font-weight: 400;
}

.menu {
    margin-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
    height: 55%;
    gap: 20px;
}

.menu button {
    text-align: center;
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #6BB87A;
    color: white;
    cursor: pointer;
    width: 85%;
    height: 12%;
    font-size: 110%;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sair button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;
    ;
    color: white;
    cursor: pointer;
    width: 60%;
    height: 30%;
    font-size: 110%;
}


/*inicio da seleção das estufas*/


.mural_rigth {
    width: 88%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.caixa_cadastro {
    display: flex;
    flex-direction: row;
}
 
.cadastro_funcionario {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.cadastro_funcionario h1 {
    font-size: 250%;
    font-weight: 400;
    margin-bottom: -5%;
    margin-top: 0%;
}

.caixa_empresa {
    margin-top: 10vh;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.caixa_empresa h2 {
    font-weight: 400;
    font-size: 25pt;
    margin-bottom: -5px;
}

.caixa_empresa input {
    width: 60%;
    height: 40px;
    border: solid white;
    border-radius: 50px;
    font-size: 12pt;
}

.caixa_empresa button {
    height: 5vh;
    width: 9vw;
    border-radius: 5px;
    background-color: #6BB87A;
    color: white;
    border: solid white;
    font-size: 15pt;
}

#div_senha {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#div_senha input {
    width: 11.9vw;
}

.funcionario_cadastrado {
    margin-top: 10vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionario_cadastrado h2 {
    font-size: 25pt;    
    font-weight: 400;

}

.funcionario {
    margin-top: -20px;
    background-color: #eceacd;
    border: solid #BB2B45;
    border-radius: 30px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

#div_lista_funcionarios{
    gap: 30px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

#info_funcionario {
    padding-top: 10px;
    margin-left: 10px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

#info_funcionario h3{
    display: flex;
    font-weight: 400;
    font-size: 18pt;
    margin: 0;
}

#info_funcionario h5{
    margin-top: -1vh;    
    font-weight: 400;
    font-size:15pt ;
    color: #6BB87A;

}


#img_editar {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    width: 20%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

}

#img_editar img {
    width: 30px;
    height: 30px;
}

.voltar {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 15px;
}

.voltar button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;
    ;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 30%;
    font-size: 110%;
}