body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Jost", serif;
}


.pagina {
    display: flex;
}


.header_left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1px;
    height: 25%;
    width: 100%;
    font-size: 150%;
}

.marca span {
    font-size: 200%;
    font-weight: 400;
}

.marca img {
    height: auto;
    width: 20%;
}

img {
    height: 25%;
    width: 25%;
}

.container {
    height: 70%;
}

#user {
    margin-bottom: -2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    margin-bottom: 30%;
    margin-top: 10%;
}

#user span {
    font-size: 290%;
    margin-top: 2%;
    font-weight: 400;
}

.menu {
    margin-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
    height: 55%;
    gap: 20px;
}

.menu button {
    text-align: center;
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #6BB87A;
    color: white;
    cursor: pointer;
    width: 85%;
    height: 12%;
    font-size: 110%;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.sair button {
    border-radius: 3px;
    border: 0.2vw solid white;
    background-color: #BB2B45;
    ;
    color: white;
    cursor: pointer;
    width: 60%;
    height: 30%;
    font-size: 110%;
}




#contato {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24%;
    text-align: center;
}

#entre_em_contato {
    font-size: 500%;
    font-weight: 400;
    white-space: nowrap;
    margin-top: -5%;
}

#select_assunto {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 7%;
    margin-top: 0%;
    margin-bottom: 20%;
    border-radius: 0.6vw;
    font-size: 220%;
}

#select_assunto option {
    font-size: 100%;
    border: 0.1vw solid black;
    width: 260%;
    text-align: center;
    height: 28%;
}

#div_mensagem {
    width: 100%;
    height: 30%;
    font-size: 100%;
    margin-bottom: 10%;
}

#input_mensagem {
    padding: 2%;
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    font-size: 220%;
    resize: none;
    width: 96%;
    height: 96%;
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#button_enviar {
    align-self: center;
    border: 0.1vw solid black;
    background-color: #6BB87A;
    width: 30%;
    border-radius: 0.5vw;
    height: 8%;
    color: white;
    cursor: pointer;
    font-size: 220%;
    margin-top: 10%;
}

#button_enviar:hover {
    background-color: #00739A;
}

#validacao_mensagem {
    position: absolute;
    align-items: center;
    white-space: nowrap;
    font-size: 1.9vw;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    display: flex;
    top: 80vh;
    left: 39vw;
}